.container {
  width: 100%;
  position: relative;
}

.container input {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 8px 6% 8px 6%;
  border-radius: 50px;
  border: 2px solid var(--third-color);
  width: 85%;
  color: var(--third-color);
  background: var(--body-background);
  outline: none;
}

.container input:focus {
  border: 2px solid rgba(var(--input-border));
  color: rgba(var(--input-border));
}

input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--third-color);
  text-align: center;
}

input:focus::placeholder {
  opacity: 0;
}
