/* img section */
.img_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 1em 0;
}

.img_section h2 {
  font-size: 1.25rem;
  align-self: start;
  margin-left: 1em;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: var(--primary-color);
  color: transparent;
}

.img_gallery_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
  gap: 6px;
}

@media (min-width: 768px) {
  .img_section h2 {
    margin-left: 1.65em;
  }

  .img_gallery_container {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 2em 0 2em;
  }
}

@media (min-width: 1024px) {
  .img_section {
    margin-top: 1.8rem;
  }
  .img_section h2 {
    margin-left: 3.8em;
    font-size: 1.6rem;
  }

  .img_gallery_container {
    padding: 0 6em 0 6em;
    gap: 1rem;
  }

  .img-container {
    min-height: 580px;
  }
}
